body {
  margin: 0;
  background: #111;
  overflow: hidden;
}

.toc-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.toc-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 100vw;
  height: 100vh;
  object-fit: contain;
}

.toc-buttons {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: row;
  gap: 40px;

  justify-content: center;
  align-items: center;

  z-index: 10;
}

.toc-btn {
  width: clamp(200px, 18vw, 320px);
  cursor: pointer;
  transition: transform 0.25s ease, filter 0.25s ease;
}

.toc-btn:hover {
  transform: scale(1.08);
  filter: brightness(1.15);
}

.toc-btn:active {
  transform: scale(0.96);
}